<div class="box bigger">
  <div class="row box-header">
    <h2>Welcome to Clola</h2>
  </div>
  <div class="row box-body">
    <div class="col-md-10 col-md-offset-2">
      <h4>Getting Started</h4>
      To start off, you need to fill out some information about your business.
    </div>
  </div>
  <div class="row ac box-footer">
    <a class="btn btn-outline btn-large a" href="/dashboard/businesses/new" >Start</a>
  </div>
</div>