<div class="row" style="margin-top:30px">
  <div class="span12 ac">
    {{#if model.image_url}}<img src="{{model.image_url}}" />{{else}}<div class="business-name">{{model.name}}{{/if}}</div>
  </div>
</div>

<hr />