<div class="message-header">{{model.phone}}</div>
{{#each model.messages}}
	<div class="message clearfix">
		<div class="text {{#if this.reply}}reply{{/if}}">{{this.text}}</div>
		<div class="time">{{timeAgo this.created}}</div>
	</div>
{{/each}}
<div class="reply_box">
  <form>
    <input type="text" name="reply_box">
    <input type="submit" class="btn">
  </form>  
</div>