<section class="home" style="display:none">
</section>

<section class="ui large vertical labeled icon sidebar menu active" style="display:none">
  <section class="businesses">
  </section>
</section>

<section class="body left pushed" style="display:none">
  <section class="customers">
  </section>
</section>
