<div class="row" style="margin-top:15px">
  <div class="col-md-12 ac">
    {{#if model.image_url}}<img src="{{model.image_url}}" class="edit-business" />{{else}}<div class="business-name"><h5 class="edit-business">{{model.name}}</h5></div>{{/if}}</a>
    <div>
      <button class="btn btn-outline btn-small edit-business">Edit Business</button>
      <button class="btn btn-outline btn-small add-location">Add Location</button>
    </div>
  </div>

  <div class="locations row"></div>
</div>

<hr />