<div class="row" style="margin-top:15px">
  <div class="col-md-12 ac">
    {{#if model.image_url}}<img src="{{model.image_url}}" class="business-image edit-business" />{{/if}}<div class="business-name"><h5 class="edit-business">{{model.name}}</h5></div></a>
    <div>
      <a href="javascript:;" class="edit-business mr15">Edit Business</a>
      <a href="javascript:;" class="add-location ml15">Add Location</a>
    </div>
  </div>

  <div class="locations row"></div>
</div>

<hr />