<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h4>Getting Started</h4>
    <div>This is where you will be able to manage your businesses once you create them.  After creating a business, you can add locations of brick-and-mortar stores, view customers who have been referred to your business from Clola, and learn more about them.</div>
  </div>
</div>