<div class="menu business-labels">
</div>

<div class="menu">
  <div class="sidebar-row"><a class="item add" style="text-align:right;"><i class="add icon" style="float:none"></i> Add Business</a></div>
</div>