<ul class="sidebar">
  <li>
    <a class="link-nav-dashboard" href="/dashboard">
      <span class="nav-text"><i class="icon-home"></i>Home</span>
    </a>
  </li>
  
  <li>
    <a class="link-nav-dashboard" href="/dashboard/customers">
      <span class="nav-text"><i class="icon-user"></i>Customers</span>
    </a>
  </li>

  <li class="sidebar-bottom">
    <a class="link-nav-dashboard" href="/dashboard/account">
      <span class="nav-text"><i class="icon-gear"></i>Account</span>
    </a>
  </li>
</ul>