@import "vars";
@import "tags";
@import "mixins";
@import "fixins";


::-webkit-scrollbar              { display:none; }
::-webkit-scrollbar-button       { display:none; }
::-webkit-scrollbar-track        { display:none; }
::-webkit-scrollbar-track-piece  { display:none; }
::-webkit-scrollbar-thumb        { display:none; }
::-webkit-scrollbar-corner       { display:none; }

header {
	padding: 10px;
}

body {
	overflow:hidden;
	font-family: @font-family;
}

h1, h2, h3, h4, h5, h6 {
	margin: 4px 0;
}

address {
	margin-bottom:10px;
}

ul {
	min-height: 100%;
	border:1px solid #e1e1e1;
	.gradient (#fff, #f4f4f4);

	&.list-view {
		list-style-type: none;
		margin:0;
		padding:0;

		li {
			display: block;
			margin: 0;
			position: relative;
			overflow: visible;
			text-align: left;
			border-width: 0;
			border-top-width: 1px;
			cursor:pointer;

			border: 1px solid #ccc;
			background: #eee ;
			font-weight: bold;
			color: #222 ;
			text-shadow: 0 1px 0 #fff;
			
			padding: .7em 15px;

			.gradient;

			i {
				font-size: 1.2em;
				margin-top: 2px;
			}

			&:hover {
				.gradient(#f1f1f1, #e1e1e1);
			}

			&.selected {
				.gradient(#e1e1ff, #eeeeff);
				border-color: #ccccff;
			}
		}
	}
}

@places-top: 100px;

section#messages {
	position:absolute;
	left:55%;
	right:0;
	bottom:0;
	top:@places-top;

	.messages-list {
		position:absolute;
		left:75%;
		right:0;
		bottom:0;
		top: 0;
		z-index:3;
	}

	.message-view {
		position: absolute;
		left: 0;
		right: 25%;
		top: 0;
		bottom: 50%;

		border:1px solid #ccc;
		.scroll;
	}

	.message-header {
		padding: 10px;
		border: 1px solid #ccc;
		background-color: #6d84b4;
		border: 1px solid rgba(0, 39, 121, .76);
		color:#fff;
		position:fixed;
		top: @places-top;
		left:55%;
		right: 11.25%;
		z-index:2;
		font-weight:600;
	}

	.message {
		position:relative;
		top:45px;
		z-index:1;
		clear: both;
		padding-right: 20px;
		padding-left: 10px;

		.text {
			float:left;
			width:80%;
			font-size:1.05em;
			padding-top:2px;
			padding-bottom:2px;

			&.reply {
				text-align:right;
			}
		}

		.time {
			float:right;
			max-width:20%;
			color:#888;
			font-size:0.92em;
			padding-top: 4px;
		}
	}
}

section#customers {
	.customers {
	 	position: absolute;
		left: 55%;
		right: 0;
		bottom: 0;
		top: 100px;	


		.customer-view {
			position:absolute;
			top:50%;
			right:25%;
			bottom:0;
			left:0;
			
			.scroll;
		}
	}

	.sidepane.left {
		position:absolute;
		top:0;
		left:0;
		right:100%;
		bottom:0;
		z-index:0;

		.scroll;
		.transition;

		background-color:#fff;
		border-right:1px solid #ccc;

		.box-shadow;

		&.expand {
			right:70%;
			z-index:6;
		}
	}
}

section#places {
	#places-search {
		margin-left:10px;
		margin-bottom: 0;
	}

	.pane {
		position:absolute;
		top: @places-top;
		left:0;
		right:50%;
		bottom:0px;

		.transition;

		&.shrink {
			bottom:50%;
		}

		&.shrinkFull {
			bottom:100%;
		}
	}

	.subpane {
		position:absolute;
		top:100%;
		left:0;
		right:50%;
		bottom:0px;

		.transition;

		&.expand {
			top:50%;
		}

		&.full {
			top:@places-top;
		}
	}

	.sidepane.left {
		position:absolute;
		top:0;
		left:0;
		right:100%;
		bottom:0;
		z-index:0;

		.scroll;
		.transition;

		background-color:#fff;
		border-right:1px solid #ccc;

		.box-shadow;

		&.expand {
			right:70%;
			z-index:6;
		}
	}

	.pane-overlay {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:5;
	}
}

.filter-list {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width: 34%;

	.scroll;

	&.cities {
		z-index:1;
	}

	&.areas {
		left: 25%;
		z-index:2;
	}

	&.categories {
		left: 50%;
		z-index:3;
	}

	&.subcategories {
		left: 75%;
		z-index:4;

		.icon-chevron-sign-right {
			.transform(rotate(90deg));
		}
	}
}

.places-header {
	padding-left:5px;
}

@place-width: 57%;
@places-list-width: 45%;
.places-list ul {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width: @places-list-width;

	.scroll;
}

.selected-place {
	position: absolute;
	left: @places-list-width;
	top: 0;
	bottom: 0;
	width: @place-width;

	padding:10px;

	border-top:1px solid #eee;

	.scroll;
	
	.small {
		font-size: 0.8em;
		color: #687075;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
	}

	.breadcrumbs {
		margin-bottom: 5px;
	}

	.breadcrumb {
		padding: 4px 7px;
	}

	.page-header {
		margin:4px 0 8px;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 4px;
	}
}

.sidepane-header {
	padding: 25px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1em;
}

.place-form {
	table {
		margin:20px;
		margin-top: 0px;
		padding-top: 0px;

		td {
			padding-top:12px;
			font-weight: 600;
			color: #666;
		}

		td:first-child {
			text-align: right;
			text-transform:uppercase;
			padding-right: 8px;
		}

	}

	input[type="radio"], input[type="checkbox"] {
		margin:0;
	}
}