

@font-family: "Open Sans";
@font-size: 12px;
@font-size-small: 10px;
@font-size-large: 14px;
@font-size-mobile: 12px;
@font-weight-extra-light: 200;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 600;
@line-height: 1.6;

// Text Colors
@text-color: #666;
@text-color-heading: #333;
@text-color-bright: #fff;
@text-color-subtle: #666;
@text-color-green: #3AA63B;
@text-color-blue: #08c;

@text-color-link: #08c;
@text-color-link-hover: #009fee;

@text-shadow: none;
@text-shadow-dark: none;

// Button Colors
@green-dark: #3AA63B;
@green-light: #51c252;

@blue-dark: #08c;
@blue-light: #009fee;

@red-dark: #e74c3c;
@red-light: #eb685a;

// Colors
// UNUSED
@light-red: #f4cccb;
@light-yellow: #fff3cc;
@light-blue: #cfe1f3;
@light-green: #d9ebd3;
@light-green-blue: #d0e0e3;
@dark-blue: #1570a6;
@blue: #087fc0;
@purple: #3c1b84;
@orange: #ff7200;
@green: #31954a; // #0db14b #21aa29
@red: #cd2428; // #d62408 #d24500
@bloodorange: #d24500;
@yellow: #fcb711;
@text-green: #78c16B;
@text-red: #b94a48;
@hover-green: #4ce225;
@active-green: #3abb19;
@very-light-gray: #f9f9f9;
@very-light-blue: #f8fcff;
@background-gray: #fafafb;

// Layout
@margin: 20px;
@padding: 20px;
@width: 960px;
@width-shop: 600px;
@width-shop-mobile: 300px;
@width-overlay: 600px;

@margin-mobile: (@margin / 2);
@padding-mobile: (@padding / 2);


// Text Colors
@text-color-heading: #3e4248;
@text-color: rgba(66, 66, 66, 0.8);
@text-color-bright: #ffffff;
@text-color-subtle: #747c81;
@text-color-green: #3aa63b;
@text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
@text-shadow-dark: rgba(0, 0, 0, 0.8) 0px 1px 0px;
@link-color: rgba(0, 130, 180, 0.9);
@link-shadow: rgba(255, 255, 255, 0.952941) 0px 1px 0px;


// Button Colors
@green-dark: #3AA63B;
@green-light: #51c252;


// Colors
@light-red: #f4cccb;
@light-yellow: #fff3cc;
@light-blue: #cfe1f3;
@light-green: #d9ebd3;
@light-green-blue: #d0e0e3;
@dark-blue: #1570a6;
@blue: #087fc0;
@purple: #3c1b84;
@orange: #ff7200;
@green: #31954a; // #0db14b #21aa29
@red: #cd2428; // #d62408 #d24500
@bloodorange: #d24500;
@yellow: #fcb711;
@text-green: #78c16B;
@text-red: #b94a48;
@very-light-gray: #f9f9f9;
@very-light-blue: #f8fcff;
@light-blue-stripe: rgba(240, 240, 242, 0.4);

@background-gray: #fafafb;

// Layout
@margin: 10px;
@padding: 20px;