<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      asdfasdf
    </div>
  </div>
  <div class="four wide column">
    <div class="ui segment">
      asdfasdf
    </div>
  </div>
  <div class="four wide column">
    <div class="ui segment">
      asdfasdf
    </div>
  </div>
  <div class="four wide column">
    <div class="ui segment">
      asdfasdf
    </div>
  </div>
</div>