<div class="container">
  <div class="introduction">
    <h1 class="ui dividing header">
      Welcome to CloLa
    </h1>
    <p>There are a few steps to complete before you can start.</p>

    <div class="ui list">
      <div class="item">
        <i class="{{#compare step ">" 0}}checked{{else}}empty{{/compare}} checkbox icon"></i>
        <div class="content">
          {{#compare step 0}}<a class="header add-business" href="javascript:;">{{/compare}}Add Business Information{{#compare step 0}}</a>{{/compare}}
          <div class="description">We'll need your business information first.</div>
        </div>
      </div>
      <div class="item">
        <i class="{{#compare step ">" 1}}checked{{else}}empty{{/compare}} checkbox icon"></i>
        <div class="content">
          {{#compare step 1}}<a class="header add-location" href="javascript:;">{{/compare}}Add Location Information{{#compare step 1}}</a>{{/compare}}
          <div class="description">A business can have one or many locations.  Add the locations that you want to have receive visits.</div>
        </div>
      </div>
      <div class="item">
        <i class="{{#compare step ">" 3}}checked{{else}}empty{{/compare}} checkbox icon"></i>
        <div class="content">
          {{#compare step 3}}
            <a class="header">Verification Pending</a>
          {{else}}
            {{#compare step 2}}<a class="header request-verification" href="javascript:;">{{/compare}}Get Verified{{#compare step 2}}</a>{{/compare}}
          {{/compare}}
          <div class="description">All businesses must be verified prior to being able to participate.</div>
        </div>
      </div>
    </div>
  </div>
</div>