<h1 class="ac"><img src="/img/photo.JPG" /></h1>

<article>
	<div class="find-places">
	</div>
</article>

<script type="text/javascript">
afterPlacesLoaded = function() {
	placesView = new PlacesView({
		el: ".find-place",
		"collection": all_places
	});

	placesView.renderFinder();
};
</script>