<div class="header">
	<a class="save"><i class="icon-chevron-left"></i> Save</a>
	<a class="hide-sidepane fr">Cancel <i class="icon-chevron-right"></i></a>
</div>
<table>
	<tbody>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" value="{{model.name}}" placeholder="Name of customer" /></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="{{model.email}}" placeholder="Email Address" /></td>
		</tr>

		<tr>
			<td>Description</td>
			<td><textarea name="description" placeholder="Description">{{model.description}}</textarea></td>
		</tr>

		<tr>
			<td>Current Location</td>
			<td><textarea name="location" placeholder="Current Location"></textarea></td>
		</tr>
	</tbody>
</table>