<div class="header">
	<a class="save-place"><i class="icon-chevron-left"></i> Save</a>
	<a class="hide-sidepane fr">Cancel <i class="icon-chevron-right"></i></a>
</div>
<table>
	<tbody>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" value="{{model.name}}" placeholder="Name of customer" required/></td>
		</tr>
	</tbody>
</table>