<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/site.css" />

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/underscore.min.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.min.js"></script>

	<script type="text/javascript" src="/js/customers.js"></script>
	<title>Clola</title>
</head>
<body>
	{{{body}}}


 {{! Templates }}
	<script type="text/template" id="location-template">
	{{> location }}
	</script>

	<script type="text/template" id="find-place-template">
	{{> places/find-place }}
	</script>

	<script type="text/template" id="place-template">
	{{> places/place }}
	</script>

	<script type="text/template" id="message">
	{{> message }}
	</script>

	<script type="text/template" id="customer">
	{{> customer }}
	</script>

	<script type="text/template" id="messages">
	{{>messages}}
	</script>

	{{> modals/new-place }}
</body>
</html>