<header style="height:42px;"><img src="/img/photo.JPG" style="width:100px;"/> <h6 style="display:inline">941-444-LOLA (941-444-5652)</h6></header>

<section id="places"></section>

<section id="messages"></section> 

<section id="customers"></section> 