<div class="sidepane-header">
	<a class="hide-sidepane"><i class="icon-chevron-left"></i> Cancel</a>
	<a class="save-place fr">Save <i class="icon-chevron-right"></i></a>
</div>
<table>
	<tbody>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" value="{{model.name}}" placeholder="Name of customer" required/></td>
		</tr>
	</tbody>
</table>