<div id="places-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#close" class="btn btn-small fr big-font" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Add a place</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span3">
        <select id="place-city" name="place-city" class="input-block-level">
          <option value="New York City" selected="selected">New York City</option>
          <option value="San Francisco">San Francisco</option>
        </select>
      </div>
      <div class="span3">
        <input id="place-area" type="text" class="input-block-level" placeholder="Area" />
      </div>
      <div class="span3">
        <input id="place-category" type="text" class="input-block-level" placeholder="Category" />
      </div>
      <div class="span3">
        <input id="place-subcategory" type="text" class="input-block-level" placeholder="Subcategory" />
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <input id="place-name" type="text" class="input-block-level" placeholder="Name" />
      </div>

      <div class="span6">
        <input id="place-description" type="text" class="input-block-level" placeholder="Description" />
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <input id="place-address" type="text" class="input-block-level" placeholder="Address" />
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <input id="place-contact" type="text" class="input-block-level" placeholder="Contact Info" />
      </div>
      <div class="span6">
        <input id="place-hours" type="text" class="input-block-level" placeholder="Hours" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" id="add_location_btn" class="btn btn-primary">Add</a>
  </div>
</div>