<div class="message-header">{{model.phone}}</div>
{{#each model.messages}}
	<div class="message">
		<div class="text {{#if this.reply}}reply{{/if}}">{{this.text}}</div>
		<div class="time">{{timeAgo this.created}}</div>
	</div>
{{/each}}
