{{> modals/new-place }}

<header>
	<h1 class="ac">Messages: 941-444-LOLA (941-444-5652)</h1>
</header>

<article>
	<section class="messages-container">
	</section>
</article>
<div class="clear"></div>

<script type="text/template" id="messages">
<div class="row">
	<div class="msg-container span4">
		<div id="<%= data.phone %>" class="message-group box box-light">
				<div class="box-content box-header">
				  <h5><%= data.phone %> <span class="fr status"><%= data.status %></span></h5>
				</div>
				<div class="box-content">
					<div class="row msgs">
						<% _.each(data.messages, function(message) { %>
							{{> message }}
						<% }) %>
					</div>

					<a href="javascript:void(0)" class="btn hide-msgs">hide</a>

					<a href="javascript:void(0)" class="btn show-reply fr">reply</a>

				</div>
				<div class="box-content reply-group" style="display:none;">
					<div class="row" >
						<div class="span9">
							<input class="reply input-block-level" type="text" data-phone="<%= data.phone %>" placeholder="reply" />
						</div>
						<div class="span3">
							<input class="send-reply btn" value="send" type="button" style="margin:0" />
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
</script>

<script type="text/template" id="message">
{{> message }}
</script>

<script type="text/template" id="customer">
{{> customer }}
</script>

<script type="text/template" id="location-template">
{{> location }}
</script>

<script type="text/template" id="place-template">
{{> places/place }}
</script>

<script type="text/javascript" src="/js/customers.js"></script>