{{> modals/new-place }}
<h1 class="ac">Messages</h1>
</article>

<article class="messages"> </article>
<div class="clear"></div>

<script type="text/template" id="message">
{{> message }}
</script>

<script type="text/template" id="customer">
{{> customer }}
</script>

<script type="text/template" id="location-template">
{{> location }}
</script>

<script type="text/template" id="place-template">
{{> places/place }}
</script>

<script type="text/javascript" src="/js/customers.js"></script>