<button class="btn btn-small btn-green btn-create-room" type="button" id="btn-create-room">Start Receiving Messages</button>
<button class="btn btn-small btn-green btn-remove-room" type="button" id="btn-remove-room">Stop Receiving Messages</button>

<section id="messages-list">
</section>

<section id="message-views">
</section>
