<button class="btn btn-small btn-green btn-create-message" type="button" id="btn-create-message">Compose</button>
<button class="btn btn-small btn-green btn-create-room" type="button" id="btn-create-room">List Messages</button>
<!--<button class="btn btn-small btn-green btn-remove-room" type="button" id="btn-remove-room">Pause Messages</button>-->

<section id="messages-list">
</section>

<section id="message-views">
</section>
