<div class="message-container">
	<div class="message-header"><input type="phone" name="phone" value="{{model.phone}}" placeholder="Phone Number" /></div>
	
	<div class="messages-outer-container">
		<div class="messages-inner-container">
			{{#each model.messages}}
				<div class="message clearfix">
					<div class="text {{#if this.reply}}reply arrow_box_right {{else}} arrow_box_left {{/if}}">{{this.text}}</div>
					<div class="time">{{timeAgo this.created}}</div>
				</div>
			{{/each}}
			<div class="is-replying"></div>
		</div>
	</div>
	

	<div class="reply-box">
	  <form>
	    <input id="reply-box" type="text" name="reply" placeholder="reply" />
	    <button type="submit" class="btn btn-success">reply</button>
	  </form>  
	</div>
</div>