<section class="places-header">
	<input type="text" id="places-search" placeholder="search places" /> <button id="add-place" class="btn btn-success btn-small"><i class="icon-plus"></i></button>
</section>

<section class="pane">
	<section class="cities filter-list"></section>
	<section class="areas filter-list"></section>
	<section class="categories filter-list"></section>
	<section class="subcategories filter-list"></section>
</section>

<section class="subpane">
	<section class="places-list"></section>
	<section class="selected-place"></section>
</section>

<section class="sidepane left">
</section>

<section class="pane-overlay hide"></section>