<section class="customer-actions">
  <div class="ui button customer-square-view selected"><i class="icon photo" style="margin-right:0;"></i></div>
  <div class="ui button customer-list-view"><i class="icon list" style="margin-right:0;"></i></div>
</section>

<section class="squares">
</section>

<section class="customers-table" style="display:none">
</section>