<section class="customer-actions">
  <button class="btn btn-outline customer-square-view selected"><i class="icon-picture"></i></button>
  <button class="btn btn-outline customer-list-view"><i class="icon-list"></i></button>
</section>

<section class="squares">
</section>

<section class="customers-table" style="display:none">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Recorded Visits</th>
      <th>Last Location Visited</th>
      <th>Last Visit</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>