<section class="customer-actions">
  <div class="ui button selected"><i class="icon photo" style="margin-right:0;"></i></div>
  <div class="ui button"><i class="icon list" style="margin-right:0;"></i></div>
</section>

<section class="squares">
</section>

<section class="customers-table" style="display:none">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Last Location Visited</th>
      <th>Recorded Visits</th>
      <th>Last Visit</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>