<div class="ui fixed transparent inverted main menu">
  <div class="container">
    <div class="section ui dropdown link item">
      <span>Locations</span>
      <div class="menu">
        <div class="item">
          Mcsteamies
        </div>
        <div class="item">
          BKs
        </div>
      </div>
    </div>
  </div>
</div>
<div class="customers">
</div>