<div class="box-content">
	<div class="row">
		<%= location.name %>
	</div>
	<% if(location.street) { %>
		<div class="row">
			<%= location.street %>
		</div>
		<div class="row">
			<%= location.city %> <%= location.state %> <%= location.zip %>
		</div>
	<% } else if(location.address) { %>
		<%= location.address %>
	<% } %>
	<% if(location.lat || location.long) { %>
	<div class="row">
		Lat: <%= location.lat %>, Long: <%= location.long %>
	</div>
	<% } %>
	<% if(location.notes) { %>
		<div class="row">
			<%= location.notes %>
		</div>
	<% } %>
</div>