<div class="row">
	<div class="msg-container span6">
		<div id="<%= data.phone %>" class="message-group box box-light">
				<div class="box-content box-header">
				  <h5><%= data.phone %> <span class="fr status"><%= data.status %></span></h5>
				</div>
				<div class="box-content">
					<div class="row msgs">
						<% _.each(data.messages, function(message) { %>
							{{> message }}
						<% }) %>
					</div>

					<a href="javascript:void(0)" class="btn hide-msgs">hide</a>

					<a href="javascript:void(0)" class="btn show-reply fr">reply</a>

				</div>
				<div class="box-content reply-group" style="display:none;">
					<div class="row" >
						<div class="span9">
							<input class="reply input-block-level" type="text" data-phone="<%= data.phone %>" placeholder="reply" />
						</div>
						<div class="span3">
							<input class="send-reply btn" value="send" type="button" style="margin:0" />
						</div>
					</div>
				</div>
		</div>
	</div>
</div>