<div class="ui fixed transparent inverted main menu">
  <div class="container">
    <div class="section ui dropdown link item">
      <span>Locations <i class="sort descending icon" style="vertical-align:top; margin-top:-1px;"></i></span>
      <div class="menu">
        <div class="item all" data-text="all">
          All Locations
        </div>

        {{#each locations}}
          <div class="item" data-text="{{_id}}">
            {{this.name}}
          </div>
        {{/each}} 

        <div class="item add" data-text="add">
          <i class="icon add"></i>Add Location
        </div>
      </div>
    </div>
  </div>
</div>