<section class="find-place mid-wide">
	<div class="box box-light box-rounded span12">
		<div class="box-content box-header">
		  <a class="btn fr" href="#places-modal" data-toggle="modal">add place</a>
		  <h5>Find a place</h5>
		</div>
		<div class="box-content">
			<div class="row">
				<div class="span4">
					<select name="place-city" class="find-place-city input-block-level">
						<option value="" selected="selected">City</option>
						<option value="New York City">New York City</option>
						<option value="San Francisco">San Francisco</option>
					</select>
				</div>
				<div class="span4">
					<select name="place-area" class="find-place-area input-block-level">
						<option value="" selected="selected">Area</option>
					</select>
				</div>
				<div class="span4">
					<select name="place-category" class="find-place-category input-block-level" placeholder="category">
							<option value="" selected="selected">Category</option>
					</select>
				</div>
			</div>
		</div>

		<div class="box-content box-header">
			<h5>Places</h5>
		</div>
		<div class="places box-content">
		</div>
	</div>
</section>