{{> modals/new-place }}
<h1 class="ac">Customers</h1>
<article class="customer-lookup">
	<section>
		<form id="lookup" class="ac">
			<label for="phone">Phone Number</label><input id="phone" type="tel" placeholder="9414445652" required/>
			<input type="submit" class="btn" value="Go" id="lookup" />
		</form>
</article>

<article class="customers"> </article>
<div class="clear"></div>

<script type="text/template" id="customer">
{{> customer }}
</script>
<script type="text/template" id="location-template">
{{> location }}
</script>

<script type="text/template" id="place-template">
{{> places/place }}
</script>

<script type="text/javascript" src="/js/customers.js"></script>